<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1">
    <parameter name="expectedCount" value="2"/>

    <test name="SmokeTest" enabled="false">
        <classes>
            <class name="class5.WikiTest"/>
        </classes>
    </test>
    <test name="OLX">
        <classes>
             <class name="olx.functionaltests.SimpleSearchTests"/>
              <class name="olx.functionaltests.FilteringTests"/>
              <class name="olx.functionaltests.AdvertismentTest"/>
              <class name="olx.negativetests.AdvertisementTest"/>
        </classes>
    </test>

</suite>