
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1" >
    <parameter name="expectedCount" value="2"/>

    <test name="SmokeTest">
        <classes>
            <class name="class3.HomeTests" />
            <class name="class3.ClassTests" />
        </classes>
    </test>
</suite>